<template name="registration">
  <div id="registration-view" class="accounts-view">
    <h1>Blabber</h1>
    <h2>Register</h2>
    <form action="#" id="registration-form">
      <div>
        <input type="email" id="accounts-email" placeholder="email">
      </div>
      <div>
        <input type="password" id="accounts-password" placeholder="password">
      </div>
      <div>
        <input type="password" id="accounts-confirm" placeholder="confirm password">
      </div>
      <div>
        <input type="submit" value="Sign up" class="input">
      </div>
    </form>
    <div class="other-links">
      <a href="{{ pathFor 'login' }}">Already a member? Login</a>
    </div>
  </div>
</template>